@font-face {
    font-family: 'manropeextralight';
    src: url('fonts/manrope-extralight-webfont.woff2') format('woff2'),
         url('fonts/manrope-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manropelight';
    src: url('fonts/manrope-light-webfont.woff2') format('woff2'),
         url('fonts/manrope-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manropemedium';
    src: url('fonts/manrope-medium-webfont.woff2') format('woff2'),
         url('fonts/manrope-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manroperegular';
    src: url('fonts/manrope-regular-webfont.woff2') format('woff2'),
         url('fonts/manrope-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
    -webkit-appearance: none; /* Для Safari/Chrome */
    -moz-appearance: none;    /* Для Firefox */
    appearance: none;         /* Современный стандарт */
    border: none;
    outline: none;
    background: none;
}


li{
    list-style-type: none;
}

.layout{
    display: grid;
    grid-template: 1fr 8fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

:root{
    --sidebar-bg-color: rgb(25, 146, 212);
    --main-bg-color: rgb(226, 232, 240);
    --accent-color: rgb(240, 180, 41);
    --color-base: rgb(255, 255, 255);
}
.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
    background-color:  var(--sidebar-bg-color);
    color: var(--color-base);
    font-family: 'manropemedium';
}

.main{
    grid-area: main;
    background-color: var(--main-bg-color);
}

.sidebar__icon{
    fill: var(--color-base);
    width: auto;
    height: 1.5rem;
}

.sidebar__icon_main{
    height: 2.8rem;
    margin-right: 0.4rem;
    margin-top: -0.4rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding: 1.4rem;
    gap: 3rem;
}

.sidebar__logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.sidebar__item{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.sidebar__list--bottom{
    margin-top: 6rem;
}
.header{
    font-family: 'manropemedium';
}
.header__icon{
    height: 1.5rem;
    width: auto;
}

.header__top,
.header__bottom{
    display: flex;
    gap: 1.8rem;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0.7rem 1.5rem;
}

.header__avatar{
    width: auto;
    fill: var(--accent-color);
}

.header__avatar--large{
    height: 4rem;
}

.header__avatar--small{
    height: 2rem;
}

.header__icon-notification{
    margin-left: auto;
}

#header__input{
    height: 1.5rem;
    width: 40vw;
    border-radius: 8px;
    flex-shrink: 1;
    padding: 0.2rem;
    background-color: var(--main-bg-color);
}

.header__user-greeting{
    font-size: 0.65rem;
}

.header__user-name--large{
    font-size: 1.1rem;
}

.header__user-name--small{
    font-size: 0.9rem;
}

.header__actions{
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.btn{
    border-radius: 18px;
    background-color: var(--sidebar-bg-color);
    color: var(--color-base);
    height: 2rem;
    width: 5rem;
    flex-shrink: 1;
}